snippet pre "A plain pre block" b
~~~ 
$0
~~~
endsnippet

snippet code "A highlighted block" b
~~~ { .${1:lang} }
$0
~~~
endsnippet

snippet image "An image" b
<div class="image centered">
![${1:title}](${2:source})
</div>

$0
endsnippet

snippet note "A note block" b
<div class="${1:note}">
$0

</div>
endsnippet

snippet link "A link"
[${1:word}][${2:ref}]$0

[$2]: ${3:url} "${4:title}"

endsnippet
