[submodule "bundle/haskellmode"]
	path = bundle/haskellmode
	url = git://github.com/ehamberg/haskellmode-vim.git
	ignore = dirty
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
	ignore = dirty
[submodule "bundle/html-template-syntax"]
	path = bundle/html-template-syntax
	url = git://github.com/pbrisbin/html-template-syntax.git
	ignore = dirty
[submodule "bundle/hoogle"]
	path = bundle/hoogle
	url = https://github.com/Twinside/vim-hoogle.git
	ignore = dirty
[submodule "bundle/pdc"]
	path = bundle/pdc
	url = git://github.com/vim-scripts/pdc.vim.git
	ignore = dirty
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
	ignore = dirty
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://github.com/wincent/Command-T.git
	ignore = dirty
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
