[submodule "bundle/haskellmode"]
	path = bundle/haskellmode
	url = https://github.com/ehamberg/haskellmode-vim.git
	ignore = dirty
[submodule "bundle/html-template-syntax"]
	path = bundle/html-template-syntax
	url = https://github.com/pbrisbin/html-template-syntax.git
	ignore = dirty
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
	ignore = dirty
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
	ignore = dirty
[submodule "bundle/zenburn"]
	path = bundle/zenburn
	url = https://github.com/vim-scripts/Zenburn.git
	ignore = dirty
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
	ignore = dirty
	ignore = dirty
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
	ignore = dirty
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
	ignore = dirty
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
	ignore = dirty
[submodule "bundle/vim-runfile"]
	path = bundle/vim-runfile
	url = https://github.com/pbrisbin/vim-runfile
	ignore = dirty
[submodule "bundle/vim2hs"]
	path = bundle/vim2hs
	url = https://github.com/dag/vim2hs
	ignore = dirty
[submodule "bundle/vim-pandoc"]
	path = bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
	ignore = dirty
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
	ignore = dirty
[submodule "bundle/neco-ghc"]
	path = bundle/neco-ghc
	url = https://github.com/ujihisa/neco-ghc.git
	ignore = dirty
[submodule "bundle/alt-ctags"]
	path = bundle/alt-ctags
	url = https://github.com/pbrisbin/alt-ctags
	ignore = dirty
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
	ignore = dirty
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
	ignore = dirty
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
	ignore = dirty
